@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.paramsFormDiv{
    width: 90%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', serif;
}

.paramsForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;

}
label{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.inputField{
    width: 4rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    text-align: center;
}